<div id="live-chat">
	<header class="clearfix">
		<a href="#" class="chat-close">x</a>
		<h4 id="username"></h4>
	</header>
	<div class="chat">
		<div class="chat-history">
		</div>
		<form action="#" method="post" id="chatform">
			<fieldset>
				<input type="text" id="inputbox" placeholder="Type your message…" autofocus>
				<input type="hidden">
			</fieldset>
		</form>
	</div>
</div>


